*,html,body
{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

#container{
  
    min-height: 100%;
    min-width: 100%;
  }

  .banner-title{
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #32536a;
}

.banner-description{
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #32536a;
}


  .button002{
    background-color: #3899ec;
    border-color: #3899ec;
    color: #fff;
    border-radius: 21px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    padding: 10px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 580px;
    cursor: pointer;
  }

  .sign_up{
      margin-top: 10px;
      text-align: center;
  }
